@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-py: #f4f5fa;
  --color-bg-sy: #8c57ff;
  --color-dark-bg-py: #28243d;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.dark .custom-select-dropdown .ant-select-selector {
  background-color: #312d4b !important;
  border-color: rgba(231, 227, 252, 0.22) !important;
  color: #E7E3FCCC!important;
}

.dark .custom-select-dropdown .ant-select-selection-placeholder {
  color: #E7E3FCCC!important;
}

.dark .custom-select-dropdown .ant-select-arrow {
  color: #E7E3FCCC!important;
}

.dark .custom-select-dropdown {
  background-color: #312d4b !important;
  color: rgba(231, 227, 252, 0.8) !important;
  border-radius: 8px !important;
}

.dark .custom-select-dropdown .ant-select-item-option {
  color: rgba(231, 227, 252, 0.8) !important;
}

.dark .custom-select-dropdown .ant-select-item-option-active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.dark .custom-select-dropdown-bright .ant-select-selector {
  background-color: #312d4b !important;
  border-color: rgba(231, 227, 252, 0.22) !important;
  color: #d5d1eb !important;
}

.dark .custom-select-dropdown-bright .ant-select-selection-placeholder {
  color: #d5d1eb !important;
}

.dark .custom-select-dropdown-bright .ant-select-arrow {
  color: #d5d1eb !important;
}

.dark .custom-select-dropdown-bright {
  background-color: #312d4b !important;
  color: #d5d1eb !important;
  border-radius: 8px !important;
}

.dark .custom-select-dropdown-bright .ant-select-item-option {
  color: #d5d1eb !important;
}

.dark .custom-select-dropdown-bright .ant-select-item-option-active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.custom-select-dropdown-bright .ant-select-selection-placeholder {
  line-height: 30px;
  padding: 0 !important;
}

.custom-select-dropdown-bright .ant-select-selection-item {
  line-height: 30px;
  display: flex;
  align-items: center;
}

.custom-select-dropdown-bright .ant-select-selection-search-input {
  height: 30px !important;
  line-height: 30px !important;
}

.dark .dark-dropdown {
  background-color: #312d4b !important;
  color: white;
  transition: all;
}

.dark .dark-dropdown .ant-select-item-option {
  color: white !important;
  transition: all;
}

.dark .dark-dropdown .ant-select-item-option-active {
  background-color: #312d4b !important;transition: all;
  }

.scroll-order-items::-webkit-scrollbar {
  display: none;
}

.dark .toFROM {
  background-color: #312d4b !important;
}

.dark .toFROM .ant-picker {
  background-color: #312d4b !important;
  border-color: #4b5563 !important;
}

.dark .toFROM .ant-picker-input > input {
  color: #fff !important; /* ichki text oq */
}

.dark .toFROM .ant-picker-input > input::placeholder {
  color: #9ca3af !important; /* placeholder kulrang */
}

.dark .toFROM .ant-picker-suffix {
  color: #fff !important; /* calendar icon oq */
}

.dark .ant-select-selector {
  background-color: #312d4b !important; /* fon */
  color: #9ca3af !important; /* text oq */
  border-color: #4b5563 !important; /* border */
}

.dark .ant-select-selection-placeholder {
  color: #aeb2b8 !important; /* placeholder rang */
}

.dark .ant-select-arrow {
  color: #fff !important; /* pastga tushadigan icon */
}

.dark .ant-select-dropdown {
  background-color: #312d4b !important;
}

.dark .ant-select-item-option {
  color: #fff !important;
}

.dark .ant-select-item-option-active {
  background-color: #433d64 !important;
}

.dark .ant-select-item-option-selected {
  background-color: #4c4470 !important;
}

.dark .myTextArea.ant-input {
  background-color: #312d4b !important;
  color: #fff !important;
}

.dark .myTextArea.ant-input::placeholder {
  color: #9ca3af !important;
}

.dark .custom-password input::placeholder {
  color: #E7E3FCCC !important;
}

.dark .custom-password .ant-input-password-icon {
  color: #E7E3FCCC !important;
}

@media (max-width: 900px) {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    display: none;
  }
  

  td {
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    grid-template-columns: 15ch auto;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e5e7eb;
    color: #475569;
    font-size: 14px;
  }

  td::before {
    content: attr(data-cell);
    color: #374151;
    font-weight: 600;
  }

  tr {
    border-bottom: 10px solid #e5e7eb;
  }

  tr:last-child {
    border-bottom: 0;
  }

  /* 🌙 Dark mode (faqat <html class="dark"> bo‘lsa ishlaydi) */
  .dark td {
    border-bottom: 1px solid #374151;
    color: #ffffff;
  }

  .dark td::before {
    color: #d1d5db;
  }

  .dark tr {
    border-bottom: 10px solid #374151;
  }
}


/* index.css yoki global.css */
.dark .ant-input-number {
  background-color: #312D4B !important;
  border: none !important;
  color: white !important;
}

.dark .ant-input-number input {
  background-color: #312D4B !important;
  color: white !important;
}

.dark .ant-input-number .ant-input-number-input::placeholder {
  color: #9ca3af !important; /* placeholder-gray-400 */
}


@keyframes slide-up-slow {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  /* 60% {
    transform: translateY(20%);
    opacity: 0.7;
  } */
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up-slow {
  animation: slide-up-slow .3s ease-in-out forwards;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
